{% extends './GDVbase.html' %}

{% block content %} 

<div class="container" id="wrap">

        <div class="row">
		<a href="/GigaDV/">home</a>
                        
                        
                <div class="span12">
                        <h3 class="dataset-title">{{proj_name}}</h3>
                        <p></p>

                        <p>{{proj_desc}}
                        </p>
                </div>
        </div>

        <div class="row">
                <div class="span12">
                        <h4>Datasets</h4>
                        <br>
			{% for ds, im in datasets %}
			
			
                        <div style="float:left;">

				<table class="table table-bordered" id='sample-table'>
					<thead>
						<th class="span4">
							 <a href="dataset/{{ds.getId}}">{{ds.getName}}</a>
						</th>
					</thead>
					<tr><td>
						<a href="dataset/{{ds.getId}}"> <img src="{% url webgateway.views.render_thumbnail im 200 %}" /></a>
					</td></tr>
					<tr><td>
						<i>This dataset contains {{ds.countChildren}} images.</i>
					</td></tr>
					<tr><td>
						<p>{{ds.getDescription}}</p>
					</td></tr>
					<tr><td> 
                                		<i>{{ds.listAnnotations}}</i>
					</td></tr> 
        			</table>
                        </div>
                        {% endfor %}    

                </div>
        
        </div>

        <div class="row">
                
                <div class="span12">
                        <p></p>
                </div>
        
        </div>

</div>

{% endblock %}
